@model IEnumerable<NewsPortal.Models.NewsArticle>

<h2>All News</h2>
<p>
    @Html.ActionLink("Add news", "New", "NewsAdmin", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{// TODO GUI message
    <p>You don't have any news yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var newsArticle in Model)
            {
            <tr>
                <td>@newsArticle.PublishDate</td>
                <td>@newsArticle.Title</td>
                <td>@Html.ActionLink("Edit", "")</td>
            </tr>
            }
        </tbody>
    </table>
}