@model NewsPortal.Models.NewsArticle

<a class="container" href="#" onclick="location.href='@Url.Action("SingleNews", "Home", new { Model.Id })'">
    <img class="img-fluid" style="max-width:100%; max-height:100%;" src="@Model.PictureUrl" alt="@Model.Title" />
    <h2>@Model.Title</h2>
</a>
