@model NewsPortal.Models.NewsArticle

<a class="container" href="#" onclick="location.href='@Url.Action(NewsPortal.Common.ActionName.Home_SingleNews,
                                                                  NewsPortal.Common.ControllerName.Home, 
                                                                  new { Model.Id })'">
    <img class="img-fluid" style="max-width:100%; max-height:100%;" src="@Model.PictureUrl" alt="@Model.Title" />
    <h3>@Model.Title</h3>
</a>
